* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aventura {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
  justify-items: center;
}
.aventura .aventura-titulo {
  grid-column: 1/-1;
}
.aventura .aventura-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 90%;
}
.aventura .aventura-grid .carrusel-container {
  position: relative;
  margin: 20px;
  height: 65vh;
}
.aventura .aventura-grid .carrusel-container .carrusel {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #F99417;
  border-right: 2px solid #F99417;
}
.aventura .aventura-grid .carrusel-container .carrusel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.aventura .aventura-grid .carrusel-container .carrusel .carousel-item.active img {
  display: block;
}
.aventura .aventura-grid .carrusel-container .aventura-texto img {
  position: absolute;
  top: 5%;
  left: 5%;
  background: transparent;
  border: none;
  width: auto;
  height: 60px;
}

.seccion-contacto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: stretch;
  margin: 100px 30px 0 30px;
}
.seccion-contacto .contacto-celu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #F5F5F5;
}
.seccion-contacto .contacto-celu h3 {
  color: #F99417;
  text-transform: uppercase;
}
.seccion-contacto .contacto-celu .contactanos {
  width: 90%;
}
.seccion-contacto .contacto-celu .contactanos.boton-acceso {
  margin: 15px;
  padding: 20px 0;
  cursor: pointer;
}
.seccion-contacto .contacto-mail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  color: #F5F5F5;
}
.seccion-contacto .contacto-mail .formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: auto;
  width: 90%;
}
.seccion-contacto .contacto-mail .formulario .formulario-input {
  display: flex;
  justify-content: center;
  margin: 8px 0;
  padding: 2px 0;
  width: 100%;
}
.seccion-contacto .contacto-mail .formulario .formulario-input .input-contacto {
  width: 100%;
  padding: 6px 8px;
  border: none;
  background-color: transparent;
  margin: auto;
  text-align: center;
}
.seccion-contacto .contacto-mail .formulario .formulario-input .boton-submit {
  background-color: transparent;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 6px 0;
}
.seccion-contacto .contacto-mail .formulario .formulario-input textarea {
  min-width: 100%;
  resize: none;
  border: none;
  font-family: "Nunito Sans", serif;
  background-color: transparent;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: #F5F5F5;
  width: 100%;
  padding: 20px auto;
}
.footer .footer-grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 900px;
  justify-content: space-evenly;
}
.footer .footer-grid-container .footer-enlace {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: #F5F5F5;
  letter-spacing: 2px;
}
.footer .footer-grid-container .footer-enlace .footer-icono {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  filter: invert(1);
}
.footer .copyright {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-image: url(../assets/imagenes/fondo-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  font-family: "Nunito Sans", serif;
}

main {
  text-align: center;
  margin-top: 90px;
}

h1 {
  font-size: 40px;
  font-weight: 1000;
  color: #F99417;
  margin-top: 20px;
  margin-bottom: 23px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  color: #F99417;
  margin: 15px 0;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  color: #F99417;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  font-weight: 100;
  color: #F5F5F5;
  margin: 20px 60px;
  text-align: center;
}

.borde-destacado {
  border-bottom: 2px solid #F99417;
  border-right: 2px solid #F99417;
  border-radius: 8px;
  background-color: rgba(15, 3, 50, 0.8392156863);
}

.boton-hover:hover {
  background-color: #F99417;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.text {
  align-self: flex-start;
  padding: 0 20px 0 140px;
  margin-top: 20px;
}

.navbar .container-fluid .navbar-brand.izquierda {
  margin-left: 2em;
  filter: invert(1);
}
.navbar .container-fluid .offcanvas {
  align-items: center;
}

.nav-hover:hover a {
  color: #F99417;
}

.caja-imagen {
  position: relative;
  width: 90%;
  height: 65vh;
  display: flex;
  border: 1px solid #4D4C7D;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 15PX auto;
  overflow: hidden;
}
.caja-imagen .carousel-item .caja-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.caja-imagen .marca-agua {
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  border: none;
  transform: translate(-50%, -50%);
  width: 90%;
  height: auto;
}

main .texto {
  text-align: center;
  background: transparent;
  width: 90%;
  margin: 10px auto;
}

.tu-destino .experiencias {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin: 10px auto;
  width: 90%;
}
.tu-destino .experiencias .lista {
  position: relative;
  place-items: center;
  width: 100%;
  color: #F5F5F5;
  height: auto;
}
.tu-destino .experiencias .lista .etiqueta-top {
  position: absolute;
  top: 0;
  right: 15%;
  width: 50px;
  height: auto;
}
.tu-destino .experiencias .lista .experiencias-boton {
  width: 70%;
  height: auto;
  border-radius: 20px;
  color: #0f0332;
  display: block;
  margin: 15px auto;
}
.tu-destino .experiencias .lista .experiencias-boton.boton-viaje {
  margin: 20px 0;
  padding: 10px 0 10px 0;
  cursor: pointer;
}
.tu-destino .experiencias .ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #F5F5F5;
}
.tu-destino .experiencias .ubicacion iframe {
  width: 90%;
  height: 90%;
  border: none;
}
.tu-destino .experiencias-info {
  display: flex;
  margin: 40px;
  height: auto;
  color: #F5F5F5;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tu-destino .experiencias-info .experiencias-info h3 {
  color: #F99417;
  margin: auto;
  margin-top: 20px;
}
.tu-destino .experiencias-info .experiencias-info p {
  margin: auto;
  margin-bottom: 20px;
  padding: 15px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 90px;
}
.login .login-container {
  background-color: #0f0332;
  padding: 40px;
  border: 1px solid #F99417;
  border-radius: 2px solid #F99417;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  text-align: center;
}
.login .login-container .login-container h2 {
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.login .login-container .link-usuario {
  margin-top: 15px;
}
.login .login-container .link-usuario a {
  color: #F99417;
  text-decoration: none;
}
.login .login-container .link-usuario a:hover {
  text-decoration: underline;
}
.login .login-container .login-form input {
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #F5F5F5;
  text-align: center;
}
.login .login-container .login-form button {
  width: 100%;
  padding: 20px;
  background-color: #7a748b;
  color: #F99417;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 16px;
}
.login .login-container .login-form button:hover {
  background-color: #F99417;
  color: #0f0332;
}

.button, .seccion-contacto .contacto-celu .contactanos, .tu-destino .experiencias .lista .experiencias-boton.boton-viaje {
  border-radius: 4px;
  letter-spacing: 2px;
  text-decoration: none;
  border: none;
  background-color: #7a748b;
  color: #F5F5F5;
}

.button-secondary, .seccion-contacto .contacto-mail .formulario .formulario-input {
  border-radius: 4px;
  letter-spacing: 2px;
  text-decoration: none;
  border: none;
  background-color: #F5F5F5;
  color: #0f0332;
}

.button-hover, .seccion-contacto .contacto-celu .contactanos.boton-hover:hover, .seccion-contacto .contacto-mail .formulario .formulario-input.boton-hover:hover, .tu-destino .experiencias .lista .experiencias-boton.boton-viaje.boton-hover:hover {
  background-color: #F99417;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #0f0332;
}

/*# sourceMappingURL=styles.css.map */
