.seccion-contacto {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    align-items: stretch;
    margin: 100px 30px 0 30px;
    .contacto-celu {
        @include flex ( column, space-evenly, center);
        color: $text-primary-color;
        h3 {
            color: $primary-color;
            text-transform: uppercase;    
        }
        .contactanos {
            width: $min-width;
            @extend .button;
            transition: transform 0.3s ease;
            &.boton-acceso {
                margin: 15px;
                padding: 20px 0;
                cursor: pointer;
            }
            &.boton-hover:hover {
                @extend .button-hover;
            }
        }
        
    }
    .contacto-mail {
        @include flex (column, space-evenly, center);
        padding: 15px;
        color: $text-primary-color;
        .formulario {
            @include flex (column, space-evenly, center);
            padding: 0;
            margin: auto;
            width: $medium-width;
            .formulario-input {
                display: flex;
                justify-content: center;
                margin: 8px 0;
                padding: 2px 0;
                width: $max-width;
                @extend .button-secondary;
                .input-contacto {
                    width: $max-width;
                    padding: 6px 8px;
                    border: none;
                    background-color: transparent;
                    margin: auto;
                    text-align: center;
                }
                .boton-submit {
                    background-color: transparent;
                    border: none;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    cursor: pointer;
                    padding: 6px 0;
                    
                }
                &.boton-hover:hover {
                    @extend .button-hover;
                }
                textarea {
                    min-width: $max-width;
                    resize: none;
                    border: none;
                    font-family: "Nunito Sans", serif;
                    background-color: transparent;
                    text-align: center;
                }
            }
        }
    }
}
