



main {
    text-align: center;
    margin-top: 90px;
}

h1 {
    @include typografy(40px, 1000);
    color: $primary-color;
    margin-top: $spacing-small;
    margin-bottom: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    @include typografy(20px, 500);
    color: $primary-color;
    margin: 15px 0;   
}

h3 {
    @include typografy(20px, 500);
    color: $primary-color;
    margin-top: $spacing-small;
    margin-bottom: 10px;
}

p {
    @include typografy(16px, 100);
    color: $text-primary-color;
    margin: 20px 60px;   
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.borde-destacado {
    border-bottom: $border-grid;
    border-right: $border-grid;
    border-radius: $border-radius-grid;
    background-color: $background-color;
}

.boton-hover:hover {
    background-color: $primary-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);

}

.text {
    align-self: flex-start;
    padding: 0 20px 0 140px;
    margin-top: $spacing-small;
}

.navbar {
    .container-fluid {
        .navbar-brand.izquierda {
            margin-left: 2em;
            filter: invert(1);
            img {
                transition: transform 0.3s ease;
            }
            &:hover {
                transform: scale(1.2);
            }
            
        }
        .offcanvas {
            align-items: center;
        }
    }
}
.nav-item {
    transition: transform 0.3s ease;
    &.nav-hover:hover a {
        color: $primary-color;
        transform: scale(1.2);
    }
    .nav-link {
        margin: auto 5px;
    }
}




.caja-imagen {
    position: relative;
    width: $medium-width;
    height: 65vh;
    display: flex;
    border: 1px solid #4D4C7D;
    border-radius: $border-radius-grid;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 15PX auto; 
    overflow: hidden;
    .carousel-item {
        .carousel-item img {
            width: $max-width;
            height: 100%;
            object-fit: cover;
            object-position: 50% 10%;
            border-radius: inherit; 
            
        }
    }
    .marca-agua {
        position: absolute;
        top: 50%;
        left: 50%;
        background: transparent;
        border: none;
        transform: translate(-50%, -50%);
        width: $medium-width;
        height: auto;
    }
}

main {
    .texto {
        text-align: center;
        background: transparent;
        width: $medium-width;
        margin: 10px auto;
    }
}