

$text-primary-color: #F5F5F5;
$text-secondary-color: #0f0332;
$primary-color: #F99417;
$secondary-color: #7a748b;
$background-color: #0f0332d6;
$spacing-small: 20px;
$spacing-medium: 40px;
$grid-gap: 20px;
$border-radius-button: 20px;
$border-radius-grid: 8px;
$border-grid: 2px solid #F99417;
$max-width: 100%;
$medium-width: 90%;
$min-width: 80%;


@mixin flex ($direction, $jcontent, $aitems ) {
    display: flex;
    flex-direction: $direction;
    justify-content: $jcontent;
    align-items: $aitems;
}

@mixin grid-container ($columns, $rows, $gap) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    gap: $gap;
}

@mixin grid ($columns, $gap) {
    display: grid;
    grid-template-columns: $columns;
    gap: $gap;
}

@mixin typografy ($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}



.button {
    border-radius: 4px;
    letter-spacing: 2px;
    text-decoration: none;
    border: none;
    background-color: $secondary-color;
    color: $text-primary-color;
    transition: transform 0.3s ease;
}


.button-secondary {
    border-radius: 4px;
    letter-spacing: 2px;
    text-decoration: none;
    border: none;
    background-color: $text-primary-color;
    color: $text-secondary-color;
    transition: transform 0.3s ease;
}

.button-hover {
    background-color: $primary-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: $text-secondary-color;
}

@import 'generales-styles';
@import 'aventura-styles';
@import 'contacto-styles';
@import 'footer-styles';
@import 'tu-destino-styles';
@import 'usuario-styles';
@import 'media-styles';