<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto | Just Trip</title>
    <meta name="description" content="Contacta a Just Trip: únete a nuestras redes sociales, envía consultas por correo, llama directamente o envíanos un mensaje. Estamos aquí para resolver tus dudas sobre aventuras y viajes.">
    <meta name="keywords" content="contacto, Just Trip, redes sociales, enviar consulta, llamar, correo electrónico, aventuras, viajes, comunicación">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">

</head>




<body>
    
    <!-- Barra de navegacion con BOOTSTRAP -->

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand izquierda" href="./usuario.html"><img src="../assets/imagenes/icono-usuario.png" alt="Usuario"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Just Trip</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item nav-hover">
                                <a class="nav-link" href="../index.html">Inicio</a>
                            </li>
                            <li class="nav-item nav-hover">
                                <a class="nav-link" href="./nosotros.html">Nosotros</a>
                            </li>
                            <li class="nav-item nav-hover">
                                <a class="nav-link" href="./aventura.html">Aventura</a>
                            </li>
                            <li class="nav-item nav-hover">
                                <a class="nav-link" href="./tu-destino.html">Tu destino</a>
                            </li>
                            <li class="nav-item nav-hover">
                                <a class="nav-link active" aria-current="page" href="#">Contacto</a>
                            </li>
                            <li class="nav-item nav-hover">
                                <a class="nav-link" href="./usuario.html">Usuario</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="seccion-contacto">

        <section class="contacto-celu borde-destacado">

            <h3>Conocenos en las redes</h3>
            <p>Seguinos en redes sociales</p>

            <a href="http://instagram.com" alt="siguenos en instagram" class="contactanos boton-acceso boton-hover" target="_blank"> Instagram</a>
            <a href="http://facebook.com"  alt="siguenos en facebook" class="contactanos boton-acceso boton-hover" target="_blank">Facebbok</a>
            <a href="http://tiktok.com" class="contactanos boton-acceso boton-hover" alt="siguenos en tiktok" target="_blank">Tik Tok</a>

            

        </section>

        <section class="contacto-mail borde-destacado">

            <h3>Quieres que te contactemos?</h3>
            <p>Envia tu consulta</p>

            <form class="formulario">
                <div class="formulario-input">
                    <input class="input-contacto" type="text" placeholder="Nombre Completo">
                </div>
                <div class="formulario-input">
                    <input class="input-contacto" type="email" placeholder="Email">
                </div>
                <div class="formulario-input">
                    <input class="input-contacto" type="tel" placeholder="00 0000 0000">
                </div>
                <div class="formulario-input">
                    <textarea name="message" rows="4" placeholder="Su consulta"></textarea>
                </div>
                <div class="formulario-input boton-hover">
                    <input class="boton-submit" type="submit" value="Enviar">
                </div>

            </form>

        </section>

        <section class="contacto-celu borde-destacado">

            <h3>Quieres contactarnos?</h3>
            <p>Sacate todas las dudas</p>

            <a href="https://wa.me/11111111111" class="contactanos boton-acceso boton-hover" target="_blank" alt="Contactanos por whatsapp" >📞 Llamanos</a>
            <a href="mailto:justtrip@gmail.com" class="contactanos boton-acceso boton-hover" target="_blank" alt="Contactanos por email">✉️ Email</a>
            <a href="https://m.me/justtrip" class="contactanos boton-acceso boton-hover" target="_blank" alt="Contactanos por messenger" >💬 Mesenger</a>

        </section>

    </main>

    <!-- FOOTER - Grid container con BOOTSTRAP -->

    <footer class="footer text-center">
        <section class="footer-grid-container d-flex flex-wrap justify-content-around align-items-center py-3">
            <a href="https://whatsapp.com" target="_blank" class="footer-enlace borde-destacado boton-hover">
                <img src="../assets/imagenes/icono-watsapp.png" alt="Icono de WhatsApp - Contacto JustTrip" class="footer-icono">
                <span>WhatsApp</span>
            </a>
    
            <a href="mailto:justtrip@gmail.com" target="_blank" class="footer-enlace borde-destacado boton-hover">
                <img src="../assets/imagenes/icono-gmail.png" alt="Icono de Email" class="footer-icono">
                <span>Email</span>
            </a>
    
            <a href="https://instagram.com" target="_blank" class="footer-enlace borde-destacado boton-hover">
                <img src="../assets/imagenes/icono-instagram.png" alt="Icono de Instagram - Contacto JustTrip" class="footer-icono">
                <span>Instagram</span>
            </a>
    
            <a href="https://facebook.com" target="_blank" class="footer-enlace borde-destacado boton-hover">
                <img src="../assets/imagenes/icono-facebook.png" alt="Icono de Facebook - Contacto JustTrip" class="footer-icono">
                <span>Facebook</span>
            </a>
        </section>
    
        <section class="copyright">
            <p>&copy; 2024 JustTrip - Todos los derechos reservados.</p>
        </section>
    </footer>

    <!-- SCRIPT -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>

</html>